<article>
    <header>
        <button class="btn btn-link" ng-click="volver()">Volver</button>
    </header>
    <img ng-src="{{post.image_url}}" ng-if="post.image_url" alt="Imagen asociada" width="250" class="img-circle">
    <h4>{{ ::post.text }}</h4>
    Me gusta <span class="badge">{{ ::post.likes }}</span>
    No me gusta <span class="badge">{{ ::post.dislikes }}</span>
    <footer>
        <small>{{ ::post.author | SignatureFilter:post.created }}</small>
    </footer>
</article>
<div>
    <header>
        <h4>Comentarios</h4>
    </header>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="comment">Comentario</label>
            <input type="text" class="form-control" id="comment" placeholder="Escribe tu comentario..." ng-model="comment">
        </div>
        <button type="submit" class="btn btn-default" ng-click="enviarComentario()">Enviar</button>
    </form>
    <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="comment in post.comments">
            <h4 class="list-group-item-heading">{{ ::comment.text}}</h4>
            <p class="list-group-item-text">{{ ::post.author | SignatureFilter:post.created }}</p>
        </a>
    </div>
</div>